body { width: 535px; }

p { width: 100%; }

div.subblock {
	width: 100%;
	display: block;
	margin-top: 7px;
}

div.subblockRight {
	width: 265px;
	display: inline;
	float: right;
}

div.subblockLeft {
	width: 265px;
	display: inline;
	float: left;
}

.subblockElement {
	margin-top: 7px;
	margin-bottom: 0px
}

.MessageBox {
	height: 99px;
	margin: 0px;
}

div#EntryBlock { height: 101px; }

div.SendButton span {
	float: right;
	margin-right: 14px;
	color: #797979;
}

.textbox { width: 251px; }
