* { font: 12px Verdana, Geneva, sans-serif; }

body {
	margin: 0px;
	background-color: white;
}

.hidden, .print-only { display: none !important; }

img { border: none; }
table {
	table-layout: fixed;
	border-collapse: collapse; 
}

h1, h2, h3, h4 { margin: 0px; }

h1 {
	font-family: "Univers LT Std";
	font-size: 28px;
	margin-top: 2px;
	margin-bottom: 20px;
}

#Body h1 {
	padding-top: 3px;
	line-height: 26px;
}

h2 {
	margin-top: 10px;
	border-top: 1px dotted black;
	padding-top: 5px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

#Body h3 {
	margin-top: 15px;
	margin-bottom: 4px;
	color: #346b80;
}

em { color: #346b80; }

a {
	color: black;
	text-decoration: none;
}

p {
	margin-top: 0px;
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ol {
	padding: 10px 0px 20px 20px;
	margin: 0px;
}

hr {
	margin: 0px;
	padding: 0px;
	border: none;
	width: 100%;
	height: 1px;
	line-height: 1px;
	background: url('../images/line.png') repeat-x;
}

.background-border { background-image: url('../images/line.png'); }

img.spin { background: url('../images/spinner.gif') no-repeat center center; }

a.links, .links li {
	background-image: url('../images/arrow.png');
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left: 14px; 
}

.links span.text { display: inline !important; }
.links:hover span.text { background-color: #4b9bb9; }
a.links { margin-left: 1px; }

.nav li, .nav a {
	margin-right: 4px;
	white-space: nowrap;
	width: auto;
	background: none;
	padding-left: 0px;
}

.nav a.selected, .nav a:hover, #ContentFooter a:hover { color: #346b80; }

#HtmlTemplates { display: none; }

/*** Header ***/
#Header {
	background-color: black;
	width: 100%;
	height: 272px;
	background: black url("../images/header.jpg?v=2") no-repeat 36px 0px;
}

#Header a {
	position: absolute;
	left: 56px;
	top: 57px;
}

.Logo {
	background-image: url("../images/logo_hotfeet_gmbh.png");
	width: 214px; /* page speed */
	height: 44px; /* page speed */
}

.Logo span { display: none; }

/*** Header Navigation ***/
#NavArea {
	margin-top: 18px;
	margin-left: 46px;
	width: 894px;
	margin-bottom: 42px;
	overflow: hidden;
}

#MainNav, #MainSubNav {
	display: block;
	width: 649px;
	overflow: hidden;
	margin-bottom: 3px;
}

#NavArea li {
	float: left;
	text-transform: uppercase;
}

#MainSubNav li {
	text-transform: none;
}

/*** Action Navigation ***/
#ActionNav {
	float: right;
	width: 228px;
}

#ActionNav a {
	float: right;
	margin-right: 10px;
	width: 12px;
	height: 13px;
	overflow: hidden;
}

#ActionNav img {
	background-color: black;
	height: 12px; /* page speed */
	width: 24px; /* page speed */
}

#ActionNav a {
	background: black url("../images/action-icons.png") no-repeat;
	width: 12px;
	height: 12px;
	margin-top: 1px;
}

#ActionNav a:hover { background-color: #1a85c7; }
#EmailRecommendation { background-position: -12px 0px !important; }


/*** Content ***/
#Content {
	margin-left: 46px;
	width: 894px;
	/* FIXME: this cuts off the dots of the Ü in "Über uns" */
	overflow: hidden; 
}

#Body {
	float: left;
	width: 649px;
	margin-bottom: 46px; /* 26px are already provided by .block */
}

.block {
	margin-bottom: 26px;
	width: 100%;
	overflow: hidden;
}

p, li { width: 550px; }

.sidebox p { width: 100%; }

.block.decorated p {
	margin-left: 270px;
	width: 330px;
}

.deco {
	float: left;
	clear: left;
	margin-right: 17px;
	margin-bottom: 10px;
}

.deco img {
	display: block;
	margin-bottom: 3px;
	width: 250px;
	border: 1px solid #B0B0B0;
}

.caption { font-size: 11px; }

h3:first-child { margin-top: 0px; }

ul li {
	background-image: url('../images/list_item_marker.png');
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 10px; 
}

/* for lists with multi-line items */
.spacious li { margin-bottom: 5px; }
.links a, a.links { padding-bottom: 1px; }
.links a:hover { background-color: #4b9bb9; }


/*** Sidebar ***/
#Sidebar {
	float: right;
	width: 228px;
	margin-bottom: 36px;
}

.sidebox {
	width: 208px;
	padding: 10px;
	margin-bottom: 17px;
	overflow: hidden;
}

.sidebox li { width: auto; }

.sidebox a { color: black; }
.sidebox a span.text:hover { background-color: #4b9bb9; }

.sidebox .box-element { margin-bottom: 10px; }

.sidebox h2 {
	text-transform: uppercase;
	border-top: none;
	margin-top: 0px;
	margin-bottom: 6px;
	padding-top: 0px;
}

.sidebox, #Footer { background-color: #eeeeee; }

.highlight { background-color: #D8F3FA; }

/*** ContentFooter ***/
#ContentFooter {
	margin-left: 46px;
	width: 894px;
}

#ContentFooter, #ContentFooter span, #ContentFooter a {
	font-size: 11px;
	color: rgb(145, 155, 155);
}

#ContentFooter span.country-name { display: none; }

#ContentFooter hr { padding-bottom: 8px;}

/*** Footer ***/
#Footer {
	margin-top: 32px;
	width: 100%;
	padding-top: 9px;
	padding-bottom: 8px;
	overflow: hidden;
}

/* if there's enough space, we let the
footer stick to the window's bottom */ 
#Footer.sticking {
	position: fixed;
	bottom: 0px;
}

#Footer .nav { float: left; }

#FullNav {
	margin-left: 46px;
	margin-right: 17px;
	width: 649px;
	display: inline; /* make IE6 happy */
}

#FullNav li.submenu, #LegalNav li {
	float: left;
	margin-right: 17px;
	text-transform: uppercase;
}

.sublist a {
	text-transform: none;
	color: rgb(145, 155, 155);
}

/* TODO: can we fold this with rule for "ul.nav li a:hover" from above? */
.sublist a:hover { color: rgb(75, 155, 185); } 

#LegalNav { padding-left: 10px; }


/* Watermark Text */
.textbox { 
	width: 99%;
	color: black;
	border: 1px solid #CCCCCC;
	margin-bottom: 2px;
}

.watermark { color: #797979 !important; }
.textbox:hover, input.button:hover { border-color: #346b80; }
input.button { border: 1px solid #CCCCCC; }
.sidebox input.button { float: right; }

/* validation errors */
label.error { color: red; }

/*** Sidebar, Reference Slideshow ***/
#RefSlidesContainer {
	position: relative;
	min-height: 182px;
}

#RefSlides {
	list-style: none;
	/*height: 200px;*/
	position: relative;
}

#RefSlides li {
	display: none;
	position: absolute;
	background: none;
	padding: 0px;
	width: 215px; /* slight gap between the slides */
}

/* show only the first slide at page load */
#RefSlides li:first-child { display: block; }

#RefSlides a { height: 150px; }
#RefSlides span,
#RefSlides a.ref-link { display: block; }
#RefSlides a.ref-link:hover { background: none; }

.ref-link span { display: none !important; }

.ref-link img {
	width: 208px;
	height: 135px;
}

#RefSlidesContainer .prev-next {
	position: absolute;
	top: 55px;
	z-index: 100;
	display: none;
	width: 25px;
	height: 25px;
	overflow: hidden;
	background: url("../images/big_arrows.png") no-repeat;
}

#PreviousReference { left: 0px; }
#NextReference { right: 0px; }
#NextReference {
	right: 0px;
	background-position: -25px 0px !important;
}


/*** System Notifications ***/
.systemNotification {
	color: #346b80;
	margin-top: 5px;
}


/*** Popup Dialogs ***/
#Overlay {
	z-index: 10000;
	display: none;
	width: 550px; 
	height: 540px;
	padding: 20px;
	background-color: white;
	border: 1px solid gray;
}

#Overlay iframe {
	z-index: 10001;
	border: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#Overlay .close {
	background-image: url('../images/close.png');
	position: absolute;
	top: -14px;
	right: -14px;
	width: 28px;
	height: 28px;
	cursor: pointer;
}

body.browser-ie6 #Overlay .close { display: none; }
