* {
	font: 12px Verdana, Geneva, sans-serif;
}

body { margin: 0px; }

img { border: none; }

h1, h2 { margin: 0px; }

h1 {
	font: 28px/30px 'Univers LT Std';
	margin-top: 2px;
	margin-bottom: 20px;
}

h2 {
	margin-top: 10px;
	border-top: 1px dotted black;
	padding-top: 5px;
	text-transform: uppercase;
	margin-bottom: 26px;
}

h3 {
	margin-top: 15px;
	margin-bottom: 4px;
}

em {
	color: #4B9BB9;
}

a {
	color: black;
	text-decoration: none;
}

p {
	margin-top: 0px;
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul#ServiceNavigation { margin-bottom: 17px; }

hr {
	margin: 0px;
	padding: 0px;
	border: none;
	width: 100%;
	height: 1px;
	line-height: 1px;
	background: url('../images/line.png') repeat-x;
}

.background-border {
	background-image: url('../images/line.png');
}

.background-border.selected {
	background-image: url('../images/line_darkblue.png');
}

ul.links li, a.links {
	background-image: url('../images/arrow.png');
	background-repeat: no-repeat;
	background-position: 0px 4px;
	padding-left: 14px; 
}

ul.nav li, ul.nav li a {
	margin-right: 4px;
	white-space: nowrap;
	width: auto;
	background: none;
	padding-left: 0px;
}

ul.nav li a.selected,
ul.nav li a:hover,
div#ContentFooter a:hover {
	color: rgb(75, 155, 185);
}

div#HtmlTemplates { display: none; }

/*** Header ***/
div#Header {
	background-color: black;
	width: 100%;
	height: 272px;
}

/* make sure the document area extends 36px beyond the photo */
img.web-photo { 
	background-color: black;
	padding-right: 36px;
	/*border-right: 36px solid black;*/
}

img.web-photo, div#LogoArea {
	position: absolute;
	left: 36px;
}

div#LogoArea {
	background-color: white;
	top: 32px;
	width: 659px;
	height: 174px;
}

div#LogoArea a {
	position: absolute;
	left: 20px;
	top: 25px;
}

/*** Header Navigation ***/
div#NavigationArea {
	margin-top: 18px;
	margin-left: 46px;
	width: 894px;
	margin-bottom: 42px;
	overflow: hidden;
}

ul#MainNavigation, ul#MainSubNavigation {
	display: block;
	width: 649px;
	overflow: hidden;
	margin-bottom: 3px;
}

div#NavigationArea li {
	float: left;
	text-transform: uppercase;
}

ul#MainSubNavigation li {
	text-transform: none;
}

ul#ServiceNavigation {
	float: right;
	width: 218px;
	padding-left: 10px;
}

ul#ServiceNavigation li.action {
	/* float: right; */
	margin-left: 5px;
	margin-right: 0px;
}


/*** Content ***/
div#Content {
	margin-left: 46px;
	width: 894px;
	/* FIXME: this cuts off the dots of the Ü in "Über uns" */
	overflow: hidden; 
}

div#Body {
	float: left;
	width: 649px;
	margin-bottom: 72px;
}


.block {
	margin-bottom: 26px;
}

p, li {
	/* width: 550px; */
}

img.deco {
	float: left;
	clear: left;
	margin-right: 17px;
	margin-bottom: 10px;
	width: 250px;
	border: 3px solid #EEEEEE; 
}

div.section {
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 25px;
}

/* FIXME: test with IE */
h3:first-child { margin-top: 0px; }

li {
	background-image: url('../images/list_item_marker.png');
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 10px; 
}

ul.links a, a.links {
	/*color: rgb(75, 155, 185);*/
	padding-bottom: 1px;
}
ul.links a:hover, a.links:hover, a.links.selected {
	background-color: rgb(75, 155, 185);
}

/*** Sidebar ***/
div#Sidebar {
	float: right;
	width: 228px;
	height: 200px; /* FIXME: remove */
	margin-bottom: 36px;
}

div.sidebox {
	width: 208px;
	padding: 10px;
	margin-bottom: 17px;
}

div.sidebox ul.links li {
	width: auto;
}

div.sidebox a { color: black; }
div.sidebox a:hover { background-color: rgb(75, 155, 185); }

div.sidebox .box-element {
	margin-bottom: 10px;
}

div.sidebox h2 {
	text-transform: uppercase;
	margin-bottom: 10px;
	border-top: none;
	margin-top: 0px;
	padding-top: 0px;
}

div.sidebox, div#Footer {
	/*background-color: rgb(230, 240, 240);*/
	background-color: #eeeeee;
}

/*** ContentFooter ***/
div#ContentFooter {
	margin-left: 46px;
	width: 894px;
}

div#ContentFooter, div#ContentFooter * {
	padding-top: 8px;
	font-size: 11px;
	color: rgb(145, 155, 155);
}

/*** Footer ***/
div#Footer {
	margin-top: 32px;
	width: 100%;
	padding-top: 9px;
	padding-bottom: 8px;
	overflow: hidden;
}

/* if there's enough space, we let the
footer stick to the window's bottom */ 
div#Footer.sticking {
	position: fixed;
	bottom: 0px;
}

div#Footer ul.nav {
	float: left;
}

ul#FullNavigation {
	margin-left: 46px;
	margin-right: 17px;
	width: 649px;
}

/* FIXME: check if IE6/7/8 support this */
div#Footer ul.nav > li {
	float: left;
	margin-right: 17px;
	text-transform: uppercase;
}

/* FIXME: check if IE6/7/8 support this */
div#Footer ul.nav > li li a {
	text-transform: none;
	color: rgb(145, 155, 155);
}

/* FIXME: check if IE6/7/8 support this */
/* TODO: can we fold this with rule for "ul.nav li a:hover" from above? */
div#Footer ul.nav > li li a:hover { color: rgb(75, 155, 185); } 

ul#LegalNavigation {
	padding-left: 10px;
}

div#SearchBox input {
	width: 100px;
}
