* {
	font: 12px Verdana, Geneva, sans-serif;
}

body {
	margin: 0px;
	background-color: white;
}

img { border: none; }
table {
	table-layout: fixed;
	border-collapse: collapse; 
}

h1, h2 { margin: 0px; }

h1 {
	font-family: "Univers LT Std";
	font-size: 28px;
	margin-top: 2px;
	margin-bottom: 20px;
}

body:not(.browser-ie) h1 {
	line-height: 30px;
}

h2 {
	margin-top: 10px;
	border-top: 1px dotted black;
	padding-top: 5px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

h3 {
	margin-top: 15px;
	margin-bottom: 4px;
	color: #346b80;
}

em { color: #346b80; }

a {
	color: black;
	text-decoration: none;
}

p {
	margin-top: 0px;
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ol {
	padding: 10px 0px 20px 20px;
	margin: 0px;
}

/* ul#ServiceNavigation { margin-bottom: 17px; } */

hr {
	margin: 0px;
	padding: 0px;
	border: none;
	width: 100%;
	height: 1px;
	line-height: 1px;
	background: url('../images/line.png') repeat-x;
}

.background-border { background-image: url('../images/line.png'); }
.background-border.selected { background-image: url('../images/line_darkblue.png'); }

ul.links li, a.links {
	background-image: url('../images/arrow.png');
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left: 14px; 
}

ul.nav li, ul.nav li a {
	margin-right: 4px;
	white-space: nowrap;
	width: auto;
	background: none;
	padding-left: 0px;
}

ul.nav li a.selected,
ul.nav li a:hover,
div#ContentFooter a:hover {
	color: #346b80;
}

div#HtmlTemplates { display: none; }

/*** Header ***/
div#Header {
	background-color: black;
	width: 100%;
	height: 272px;
}

/* make sure the document area extends 36px beyond the photo */
img.web-photo { 
	background-color: black;
	padding-right: 36px;
	/*border-right: 36px solid black;*/
}

img.web-photo, div#LogoArea {
	position: absolute;
	left: 36px;
}

div#LogoArea {
	background-color: white;
	top: 32px;
	width: 659px;
	height: 174px;
}

div#LogoArea a {
	position: absolute;
	left: 20px;
	top: 25px;
}

/*** Header Navigation ***/
div#NavigationArea {
	margin-top: 18px;
	margin-left: 46px;
	width: 894px;
	margin-bottom: 42px;
	overflow: hidden;
}

ul#MainNavigation, ul#MainSubNavigation {
	display: block;
	width: 649px;
	overflow: hidden;
	margin-bottom: 3px;
}

div#NavigationArea li {
	float: left;
	text-transform: uppercase;
}

ul#MainSubNavigation li {
	text-transform: none;
}

/* Action Navigation */
div#ActionNavigation {
	float: right;
	width: 228px;
}

div#ActionNavigation a.action {
	float: right;
	margin-right: 10px;
}

div#ActionNavigation input.action {
	width: 76%;
	float: left;
}

/*** Content ***/
div#Content {
	margin-left: 46px;
	width: 894px;
	/* FIXME: this cuts off the dots of the Ü in "Über uns" */
	overflow: hidden; 
}

div#Body {
	float: left;
	width: 649px;
	margin-bottom: 72px;
}

.block {
	margin-bottom: 26px;
	width: 100%;
	overflow: hidden;
}

p, li { width: 550px; }

img.deco {
	float: left;
	clear: left;
	margin-right: 17px;
	margin-bottom: 10px;
	width: 250px;
	border: 3px solid #EEEEEE; 
}


/* FIXME: test with IE */
h3:first-child { margin-top: 0px; }

ul li {
	background-image: url('../images/list_item_marker.png');
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 10px; 
}

ul.links a, a.links {
	/*color: #346b80;*/
	padding-bottom: 1px;
}
ul.links a:hover, a.links:hover, a.links.selected {
	background-color: #4b9bb9;
}


/*** Sidebar ***/
div#Sidebar {
	float: right;
	width: 228px;
	margin-bottom: 36px;
}

div.sidebox {
	width: 208px;
	padding: 10px;
	margin-bottom: 17px;
	overflow: hidden;
}

div.sidebox ul.links li {
	width: auto;
}

div.sidebox a { color: black; }
div.sidebox a:hover { background-color: #4b9bb9; }

div.sidebox .box-element {
	margin-bottom: 10px;
}

div.sidebox h2 {
	text-transform: uppercase;
	border-top: none;
	margin-top: 0px;
	margin-bottom: 6px;
	padding-top: 0px;
}

div.sidebox, div#Footer {
	/*background-color: rgb(230, 240, 240);*/
	background-color: #eeeeee;
}

div.highlight { background-color: #D8F3FA; }

/*** ContentFooter ***/
div#ContentFooter {
	margin-left: 46px;
	width: 894px;
}

div#ContentFooter, div#ContentFooter * {
	padding-top: 8px;
	font-size: 11px;
	color: rgb(145, 155, 155);
}

/*** Footer ***/
div#Footer {
	margin-top: 32px;
	width: 100%;
	padding-top: 9px;
	padding-bottom: 8px;
	overflow: hidden;
}

/* if there's enough space, we let the
footer stick to the window's bottom */ 
div#Footer.sticking {
	position: fixed;
	bottom: 0px;
}

div#Footer ul.nav {
	float: left;
}

ul#FullNavigation {
	margin-left: 46px;
	margin-right: 17px;
	width: 649px;
	display: inline; /* make IE6 happy */
}

ul#FullNavigation li.submenu, ul#LegalNavigation li {
	float: left;
	margin-right: 17px;
	text-transform: uppercase;
}

ul#FullNavigation li.submenu li a {
	text-transform: none;
	color: rgb(145, 155, 155);
}

/* TODO: can we fold this with rule for "ul.nav li a:hover" from above? */
ul#FullNavigation li.submenu li a:hover { color: rgb(75, 155, 185); } 

ul#LegalNavigation { padding-left: 10px; }


/* Watermark Text */
.textbox { 
	width: 99%;
	color: black;
	border: 1px solid #CCCCCC;
	margin-bottom: 2px;
}

.watermark { color: #797979 !important; }

.textbox:hover,
input.button:hover {
	border-color: #346b80;
}

input.button {
	border: 1px solid #CCCCCC;
}

div.sidebox input.button {
	float: right;
}


/*** Sidebar, Reference Slideshow ***/
div#ReferencesSlideshowContainer {
	position: relative;
	min-height: 182px;
}

ul#ReferencesSlideshow {
	list-style: none;
	/*height: 200px;*/
	position: relative;
}

ul#ReferencesSlideshow li {
	position: absolute;
	background: none;
	padding: 0px;
}

/* slight gap between the slides */
ul#ReferencesSlideshow li {
	display: none;
	width: 215px;
}

/* show only the first slide at page load */
ul#ReferencesSlideshow li:first-child { display: block; }

ul#ReferencesSlideshow li a { height: 150px; }
ul#ReferencesSlideshow li span,
ul#ReferencesSlideshow li a.ref-link { display: block; }
ul#ReferencesSlideshow li a.ref-link:hover { background: none; }

ul#ReferencesSlideshow li a img {
	width: 208px;
	height: 135px;
}

div#ReferencesSlideshowContainer .prev-next {
	position: absolute;
	top: 55px;
	z-index: 100;
	display: none;
}

a#PreviousReference { left: 0px; }
/* FIXME: test with IE6/7 */
a#NextReference { right: 0px; }


/*** System Notifications ***/
.systemNotification {
	color: #346b80;
	margin-top: 5px;
}


/*** Popup Dialogs ***/
div#Overlay {
	z-index: 10000;
	display: none;
	width: 550px; 
	height: 540px;
	padding: 20px;
	background-color: white;
	border: 1px solid gray;

	-moz-box-shadow:0 0 20px 0 #404040;
	-webkit-box-shadow: 0 0 20px #404040;
}

div#Overlay iframe {
	z-index: 10001;
	border: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

div#Overlay .close {
	background-image: url('../images/close.png');
	position: absolute;
	top: -14px;
	right: -14px;
	width: 28px;
	height: 28px;
	cursor: pointer;
}

body.browser-ie6 div#Overlay .close { display: none; }

