div.box {
	float: left;
	/*width: 316px;*/
	border: 1px dotted black;
	padding: 10px;
	width: 294px;
	height: 108px;
	margin-right: 17px;
	margin-bottom: 17px;
}

div.box.even { margin-right: 0px; }

div.box h1 {
	margin-bottom: 2px;
}