body { width: 535px; }

img.portrait {
	border: 1px solid #B0B0B0;
	width: 250px;
	height: 167px; 
}

p { width: 100%; }

div.deco { 
	width: 250px;
	height: 167px;
	margin-right: 0px; 
	margin-bottom: 15px;
}

div.subblock {
	width: 100%;
	display: block;
	margin-top: 7px;
}

div.subblockRight {
	width: 265px;
	display: inline;
	float: right;
}

div.subblockLeft {
	width: 265px;
	display: inline;
	float: left;
}

.subblockElement {
	margin-top: 7px;
	margin-bottom: 0px
}

.MessageBox {
	height: 99px;
	margin: 0px;
}

div#EntryBlock { height: 101px; }

.SendButton span {
	float: right;
	margin-right: 14px;
	color: #797979;
}

.textbox { width: 251px; }

.block { margin-bottom: 5px; }
