
div#ContactForm {
	/* display: none; */
}

#MessageBox {
	height: 96px;
}

div.subblockRight {
	width: 265px;
	display: inline;
	float: right;
}

div.subblockLeft {
	width: 265px;
	display: inline;
	float: left;
}

.subblockElement {
	margin-top: 5px;
}

input#SendRequest {
	width: 251px;
	float: left;
}

div#Remark {
	margin-top: 5px;	
}

div#Remark span {
	float: right;
	margin-right: 10px;
	color: #797979;
}

.textbox { 
	width: 251px;
}
