h1 { display: none; }

ul#Sectors > li {
	display: block;
	background: none;
	margin-bottom: 36px;
	padding-left: 0px;
	width: 100%;
}

ul#Sectors h2 {
	font: 28px/30px 'Univers LT Std';
	margin-top: 2px;
	margin-bottom: 5px;
	padding: 0px;
	border-top: none;
	text-transform: none;
}

ul.projects {
	border-top: 1px dotted black;
	overflow: hidden;
	border-bottom: 1px dotted black;
	padding-top: 3px;
	padding-bottom: 4px;
}

ul.projects li {
	float: left;
	background-image: url('../images/arrow.png');
	background-repeat: no-repeat;
	background-position: 0px 4px;
	padding-left: 14px;
	margin-right: 10px;
	width: auto;	
}

div.ref-info { display: none; }

ul.projects li a:hover {
	background-color: rgb(75, 155, 185);
}

/*** Reference Details ***/
div#ReferencePanel {
	margin-top: 26px;
	margin-bottom: 50px;
}

a#PrevProj { margin-right: 5px; }

div#ReferenceDetails {
	margin-top: 7px;
	overflow: hidden;
}

a#ScreenshotLink {
	display: block;
	float: left;
	border: 1px solid #cccccc;
	margin-right: 18px;	 
}

a#ScreenshotLink img { width: 353px; }

span#Year { margin-left: 5px; }

a#UrlLink {
	display: block;
	margin-bottom: 16px; 
}

div#Description p {
	width: 100%;
}