h1 { display: none; }

h2 {
	font: 28px/30px 'Univers LT Std';
	margin-top: 2px;
	margin-bottom: 20px;
}

ul#Sectors li.sector {
	display: block;
	background: none;
	margin-bottom: 36px;
	padding-left: 0px;
	width: 100%;
}

ul#Sectors h2 {
	font: 28px/30px 'Univers LT Std';
	margin-top: 2px;
	margin-bottom: 5px;
	padding: 0px;
	border-top: none;
	text-transform: none;
}

ul.projects {
	border-top: 1px dotted black;
	overflow: hidden;
	border-bottom: 1px dotted black;
	padding-top: 3px;
	padding-bottom: 4px;
}

ul.projects li {
	display: inline;
	background-image: url('../images/arrow.png');
	background-repeat: no-repeat;
	background-position: 0px 4px;
	padding-left: 14px;
	margin-right: 10px;
}

ul.projects li a {
	white-space: nowrap;
	cursor: pointer;
}

ul.projects li a.selected {
	color: #346B80;
	background: none; /* IE6  needs this */
}

ul.projects li a:hover {
	color: black;
	background-color: #4b9bb9;
}

ul.projects div.info,
ul.projects a.screenshot-link { display: none; }

/*** Reference Details ***/
div#ReferencePanel {
	margin-top: 26px;
	/*height: 260px;*/
	padding-bottom: 26px;
	display: none;
}

a#PrevProj { margin-right: 5px; }

div#ReferenceSlider {
	margin-top: 7px;
	background-color: #eeeeee;
	position: relative;
	height: 252px;
}

div.reference-details {
	width: 629px;
	position: absolute;
	padding: 10px;
}

img.screenshot {
	width: 353px;
	max-height: 230px;
	border: 1px solid #cccccc;
}

/* IE6/7 don't keep the aspect ratio, IE6 needs the float:left */
* html div.reference-details img.screenshot {
	float: left;
	height: 232px;
}

div.info {
	float: right;
	margin-left: 18px;
	width: 256px;
	position: relative;
}

div.info p, div.info li { width: 100%; }
div.info label { color: #346b80; }
div.info .mid { display: none; }

span.name { color: #346B80; }

a.website-link {
	display: block;
	margin-bottom: 16px;
}

p.description { margin-bottom: 14px; }

span.design {
	display: block;
	margin-top: 14px;
}