div.details {
	display: none;
	opacity: 0.0;
	background-color: #eeeeee;
	margin-top: 5px;
	padding: 10px;
	margin-bottom: 9px;
}

div.details h3 {
/*	padding-top: 5px;
	border-top: 2px solid white;*/
	margin-bottom: 10px;
}

div.area div.area.background-border.selected div {
	/*opacity: 0.9;*/
}

div.area, div.area * { cursor: pointer; }

div#Cloud {
	position: relative;
	height: 200px;
	width: 627px;
	border: 1px dotted black;
	padding: 10px;
	margin-bottom: 20px;
}

div#Cloud * { font-size: 11px; }

div#Cloud { background-color: #eeeeee; }
div#Cloud div { background-color: white; }

div#Desktop, div#Mobile {
	position: absolute;
	top: 10px;
	height: 40px;
	width: 290px;
	border: 1px dotted black;
	padding: 10px;
}

div#Desktop { left: 10px; }
div#Mobile { left: 328px; }

div#EBusiness {
	position: absolute;
	left: 10px;
	top: 78px;
	height: 60px;
	width: 608px;
	border: 1px dotted black;
	padding: 10px;
}

/*div#Cloud > div > div { opacity: 0.8; }*/

div#Cloud div#SEO {
	position: absolute;
	left: 200px;
	top: 50px;
	height: 28px;
	width: 226px;
	border: 1px dotted black;
	padding: 10px;
	background-color: #eeeeee;
	opacity: 0.8;
}

div#Cloud div#SEO label {
	text-align: center;
}

label {
	position: absolute;
	bottom: 7px;
	left: 10px;
	right: 10px;
}

label.right { text-align: right; }
label span { display: block; }

span.area {
	color: rgb(75, 155, 185);
	text-transform: uppercase;
}

a.more-info { display: block; }
a.more-info, div#Body ul.links { margin-top: 3px; }

div#Body ul.links { overflow: hidden; }
div#Body ul.links li {
	width: auto;
	float: left;
	margin-right: 10px;
}
