<?xml version="1.0" encoding="ISO-8859-1"?>
<configuration>
	<configSections>
      <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere" />
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
		<section name="hotfeet.sessionProperties" type="HotFeet.Web.SessionPropertiesConfigurationHandler, HotFeet.Libs_V2" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<appSettings>
		<add key="Languages" value="de"/>
		<add key="FCKeditor:BasePath" value="~/fckeditor/" />
	</appSettings> 

	<hotfeet.sessionProperties>
		<property name="Language" type="HotFeet.Language,HotFeet.Libs_V2" defaultValue="de" />
		<property name="Admin" type="System.Boolean" defaultValue="false" getParameterName="admin" />
	</hotfeet.sessionProperties>	

	<!-- This section contains the log4net configuration settings -->
	<log4net>
	    <!-- Define some output appenders -->	
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
	    
		<!-- An appender for the log file --> 
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
	    	<file value="log/hf.log" />
	   	<appendToFile value="true" />
	    	<layout type="log4net.Layout.PatternLayout">
	      	<conversionPattern value="%date %-5level %logger - %message%newline" />
	    	</layout>
		</appender>
		
	    <!-- Setup the root category, add the appenders and set the default priority -->
		<root>
	   	<level value="WARN" />
	 		<!-- <appender-ref ref="ConsoleAppender" /> -->
	 		<appender-ref ref="FileAppender" />
		</root>
	</log4net>
		
	<system.web>
		<compilation defaultLanguage="C#" debug="true">
			<assemblies>
				<add assembly="Db4objects.Db4o, Version=6.1.604.0, Culture=neutral, PublicKeyToken=6199cd4f203aa8eb" />
				<add assembly="FredCK.FCKeditorV2" />
				<add assembly="HotFeet.Libs_V2" />
         	<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
         	<add assembly="AjaxControlToolkit" />
			</assemblies>
			<expressionBuilders>
				<add expressionPrefix="UStr" type="HotFeet.Web.UStrExpressionBuilder,HotFeet.Libs_V2"/>
			</expressionBuilders>
		</compilation>

		<pages pageBaseType="HotFeet.Web.SessionPropertiesPage,HotFeet.Libs_V2" enableViewState="false">
			<controls>
		    	<add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
      	 	<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions" />
				<add tagPrefix="FCKeditorV2" namespace="FredCK.FCKeditorV2" assembly="FredCK.FCKeditorV2" />
				<add tagPrefix="hf" tagName="AdminLink" src="~/controls/AdminLink.ascx" />
				<add tagPrefix="hf" namespace="HotFeet.Web" assembly="HotFeet.Libs_V2" />
			</controls>
			<namespaces>
				<add namespace="System.IO" />
				<add namespace="System.Xml" />
				<add namespace="System.Collections.Generic" />
				<add namespace="System.Globalization" />
				<add namespace="System.Linq" />
				<add namespace="HotFeet" />
				<add namespace="HotFeet.Data" />
				<add namespace="HotFeet.Web" />
				<add namespace="FredCK.FCKeditorV2" />
				<add namespace="HotFeet.Website" />
			</namespaces>
		</pages>
		
    	<customErrors mode="Off" />
    	<trace enabled="false" localOnly="false" pageOutput="false" />
    	<globalization fileEncoding="iso-8859-1" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" />

		<httpModules>
   		<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</httpModules>
		
		<httpHandlers>
	     	<remove verb="*" path="*.asmx"/>
	     	<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
	     	<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
	     	<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
	</system.web>

	<!-- the following is used only for data migration from MySql -->
	<system.data>
		<DbProviderFactories>
			<add name="MySql Data Provider" invariant="MySql.Data.MySqlClient"
				description=".Net Framework Data Provider for MySql"
				type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=5.2.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
	<connectionStrings>
		<add name="MySql" providerName="MySql.Data.MySqlClient"
			connectionString="Server=www.hotfeet.ch;Database=hotfeet_site;User ID=plb;Password=plb;Allow Zero Datetime=True;" />
	</connectionStrings>
</configuration>
