a.Map {
	float: left;
	margin-right: 17px;
}

a.Map img {
	display: block;
	width: 250px;
	height: 209px;
}

#Body .url, #Body .region,
#Body .country-name, #Body .geo,
#Body .type, #Body .logo { display: none; }

#Body .adr, #Body .street-address { display: block; }
