table { margin: 10px 0px 10px 0px; }
th, td { padding: 3px 12px; }

th { font-weight: bold; }
td { border-top: 1px solid white; }

td { text-align: center; }
td.col0 { text-align: left; }

.col1 { background-color: #dde9ed; }
.col2 { background-color: #c5e3ed; }

tr.odd td.col0 { background-color: #eeeeee; }
tr.odd td.col1 { background-color: #d1dde0; }
tr.odd td.col2 { background-color: #bbd7e0; }
