.person { overflow: hidden; }
.person img {
	float: left;
	margin-right: 18px;
	margin-bottom: 20px;
	background-color: #eeeeee; /*#daeaf0;*/
	border: 1px solid #B0B0B0;
	width: 300px;
	height: 209px;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.person .title, .person .education, .person .tel { display: block; }
span.education { margin-bottom: 6px; }

.person .org, .person .type { display: none; }

.person span.tel abbr {
	display: inline-block;
	width: 9px;
} 
