div.person { overflow: hidden; }
div.person img {
	float: left;
	margin-right: 18px;
	margin-bottom: 20px;
	background-color: #eeeeee; /*#daeaf0;*/
	border: 1px solid #B0B0B0;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

span.title, span.phone { display: block; }
span.title { margin-bottom: 6px; }

span.phone span {
	display: inline-block;
	width: 9px;
} 
