div.person { overflow: hidden; }
div.person img {
	float: left;
	margin-right: 18px;
	margin-bottom: 20px;
	background-color: #eeeeee; /*#daeaf0;*/
	border: 1px solid #B0B0B0;
	width: 300px;
	height: 209px;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.vcard .title, .vcard .education, .vcard .tel { display: block; }
span.education { margin-bottom: 6px; }

.vcard .org, .vcard .type { display: none; }

.vcard span.tel abbr {
	display: inline-block;
	width: 9px;
} 
