table {
	margin: 20px 0px 30px 0px;
	width: 95%;
}

th, td {
	width: 25%;
	padding: 4px;
	text-align: center;
}

th { font-weight: bold; }
td { border-top: 1px solid white; }

.col0 {
	text-align: left;
	background-color: white;
}

.col1 { background-color: #DDE9ED; }
.col2 { background-color: #C5E3ED; }
.col3 { background-color: #ADDDED; }

