
.extSubblock {
	display: block;
	height: 20px;
	width: 218px; /* extra large for * notification */
	margin-top: 3px;
}

div.extSubblock input.textbox {
	width: 201px;
	display: inline;
}

div.extSubblock input.button {
	margin-right: 15px;
}

span#Required {
	color: #919B9B;
}